.root :global(.vkuiInternalPanel__in) {
  height: 100vh;
  max-height: 100vh;
}

.in {
  height: 100%;
}

.skin {
  overflow: hidden;
  min-width: calc(100% / 2.5);
  border-radius: var(--vkui--size_border_radius--regular);
}

.sections {
  overflow: hidden;
}
