.root :global(.vkuiInternalPanel__in) {
  height: 100vh;
  max-height: 100vh;
}

.in {
  height: 100%;
  display: flex;
}

.skin {
  flex: none;
  overflow: hidden;
  min-width: calc(100% / 2.5);
  margin-right: var(--vkui--spacing_size_xl);
  border-radius: var(--vkui--size_border_radius--regular);
}
